body{
    margin: 0;
    padding: 0;
    font-family:  sans-serif,Helvetica,Arial;
    font-size: 20px;
}
h2{
    text-align: center;
}
/*menu*/
nav{
    background-color:#52b997;
    display: flex;
    width: 99,9%;
    height: 90px;
    align-items: center;
}
nav a{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition:.5s;
}
nav img{
    width:100px;
    padding-left: 20px;
    margin: 0;
}
#logo{
    text-align: left;
    padding:0px 40px 0px ;
    margin: 0;
}
a:hover{
    font-size: 35px; 
}
/*rodapé*/
footer{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
footer h5{
    color: red;
}
/*Index*/
#textoHome{
    text-align: center;
}
/*Produtos*/
main {
    display: inline-flex;
    width: 100%;  
}

#categorias ol li{
    text-decoration: none;
    font-size: 20px;
    color: black;   
}
#categorias ol li:hover{
    color: orangered;
}
#produtos{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}
#produtos div{
    width: 33%;
    text-align: center;
}
#produtos div img{
    width:120px;
}
.box_produtos{
 display: block;   
}
#produtos div:hover{
    background-color:#66CDAA;
    border-radius: 3px;
}
#produtos div button:hover{
    font-size: 20px;
}
#produtos h5{
    margin: 0;
    padding: 0;
}
.precoOriginal{
    margin: 0;
    font-size:15px;
    color: red;
    text-decoration:line-through;
}
/*Lojas*/
#lojas {
    text-align: center;
}
#lojas a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#lojas a:hover{
    color:orangered;
}
#lojas div{
    margin: 20px;
}
/*Contatos*/
#contatos{
    text-align: center;
    width: 100%; 
    display: inline-flex;
}
#contatos div{
    width: 100%;
    height: 100%;
}
#contatos div img{
    width: 10%;
}
.caixasDivisao{
    display: inline-flex;
    width: 100%;
    text-align: center;
}
.caixasDivisao div{
    text-align: center;
    width: 50%;
    
}

